body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.menu-container {
  color: #fff;
  background-color: #5A5A5A; 
  padding: 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.date {
    text-align: left;
    margin-left: 20px;
}

.menu {
  
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.links {
  
  display: flex;
  justify-content: flex-end;
}

.signup{
  margin-left: 20px;
  margin-right: 20px;
}

a {
  color:white;
}

.App {
  margin-top: 10px;
}

.firstQ {
  margin: 5px;
  text-align: center;
  align-items:center;
}

.secondQ {
  margin: 5px;
   text-align: center;
   justify-content:center;
}

.thirdQ {
  margin: 5px;
   text-align: center;
}

.secondLabel {
  align-items:center;
  padding-right:5px;
}

.githubLink {
  text-align: center;
}

.gitHubText {
  color: black;
}